{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Видео</h1>
    <ul>
    {% for video in all_video %}
        <div style="display: flex;">
            <li>{{ video[2] }}</li>
            <a href="#">Удалить</a>
        </div>
    {% endfor %}
    </ul>

    <form method="post" enctype="multipart/form-data">
        <input type="text" name="name"  id="name" placeholder="Имя" class="form-control"><br>
        <input type="file" name="file"><br><br>
        <input type="submit" class="btn btn-success" name="send" value="Отправить"><br><br>

    </form>

        {% if status == True%}
        <div class="block_status">
            <p>Синхронизация прошла успешно</p>
        </div>
        {% else %}
        <form method="post">
            <input type="submit" class="btn btn-dark" name="send" value="Синхронизировать видео">
        </form>
        {% endif %}
</div>
{% endblock %}