{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Нюки</h1>
    <table>
        <tr>
            <th>Имя</th>
            <th>IP-адрес</th>
            <th hidden>Описание</th>
            <th hidden>ID</th>
        </tr>
        {% for nuke in all_nukes %}
        <tr>
            <th style="padding-right: 10px;">{{ (all_nukes.get(nuke)).get('name') }}</th>
            <th style="padding-right: 10px;">{{ (all_nukes.get(nuke)).get('ip_nuke') }}</th>
            <th style="padding-right: 10px;" hidden>{{ (all_nukes.get(nuke)).get('comment') }}</th>
            <th style="padding-right: 10px;" hidden>{{ (all_nukes.get(nuke)).get('id_nuke') }}</th>
<!--            <th><a method="post"  type="submit" value="delete_{{ (all_nukes.get(nuke)).get('id_nuke') }}" href="#">Удалить</a></th>-->

            <form method="post">
                <th>
                    <input hidden ="text" name="name" value="edit_{{ (all_nukes.get(nuke)).get('id_nuke') }}">
                        <input class="bg-dark" style="color: white;" type="submit" value="Редактировать"></input>
                </th>
            </form>

            <form method="post">
                <th>
                    <input hidden ="text" name="name" value="delete_{{ (all_nukes.get(nuke)).get('id_nuke') }}">
                        <input style="color: white; background-color: #cb121b;" type="submit" value="Удалить"></input>
                </th>
            </form>

        </tr>
        {% endfor %}
    </table>
    <br>
    <form method="post">
        <input type="text" name="name"  id="name" placeholder="Имя" class="form-control"><br>
        <textarea name="ip" placeholder="IP" class="form-control"></textarea><br>
        <textarea name="comment" id="comment" placeholder="Коментарии" class="form-control"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{% endblock %}