{% extends "base.html" %}

{% block title %}
Edit
{% endblock %}

{% block content %}
    <h1>{{ name }}</h1>
    <p>Выберите видео для проигрывания</p>
<form method="POST" class="form-example">
    {% for video in all_video %}
        {% if video in videos %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ all_video[video].get('id_video') }}" name="check_box" id="{{ all_video[video].get('id_video') }}" checked>
                <label class="form-check-label" for="{{ all_video[video].get('id_video') }}">
                    {{ all_video[video].get('name') }}
                </label>
            </div>
        {% else %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ all_video[video].get('id_video') }}" name="check_box" id="{{ all_video[video].get('id_video') }}">
                <label class="form-check-label" for="{{ all_video[video].get('id_video') }}" style="color: red;">
                    {{ all_video[video].get('name') }}
                </label>
            </div>
        {% endif %}
    {% endfor %}
    <br>
  <div class="form-example">
    <input type="submit" value="Сохранить">
  </div>
</form>

{% endblock %}