{% extends "base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
    <h1>FAQ</h1>

    <h3>Обновление видео на телевизоре:</h3>
    <p>
        <ol>
            <li>Выбрать телевизор, на котором нужно добавить\удалить видео.</li>
            <li>Поставить галочки рядом с видео, которые должны проигрываться на телевизоре.</li>
            <li>Нажать кнопку "Обновить" и подождать загруки видео.</li>
        </ol>
    </p>
    <p>Для <strong>запуска видео</strong> на телевизоре - нажать кнопку play<br>
    Для <strong>остановки видео</strong> на телевизоре - нажать кнопку stop<br>
    Если <strong>не все видео загрузились</strong> на телевизор, то нажать кнопку синхронизация</p>

    <h3>Загрузка новых видео</h3>
    <ol>
        <li>Перейти на вкладку видео, в меню</li>
        <li>Ввести имя для отображения в списке</li>
        <li>Нажать на кнопку выберите файл, выбрать видео, которое нужно загрузить</li>
        <li>Нажать кнопку отправить и дождаться загрузки</li>
    </ol>



{% endblock %}