

.main_logo{
    height: 15px;
}

.form_about {
    display: flex;
}

.form_about form {
    padding-right: 10px;
}

.block_status{
    display: flex;
}

.block_status p{
    border-radius: 8px;
    padding: 7px;
    margin: 5px;
}

.status_ok {
    background-color: green;
    color: white;
}

.status_not_ok {
    background-color: red;
    color: white;
}

.list_all_video {
    background-color: rgba(24, 24, 24, 0.9);
    color: white;
    max-width: 250px;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}

.list_all_video li {
    list-style-type: none;
    text-decorating: none;
}